<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="/css/main.css" />
		<title>404</title>
	</head>
	<body>
		<%- include('partials/navbar', {page: ''})%>
		<br />
		<div>
			<div class="hero min-h-screen bg-red-200">
				<div class="hero-content text-center">
					<div class="max-w-lg">
						<h1 class="text-5xl font-bold">404: Page Not Found</h1>
						<p class="py-6">
							Oops! It looks like you've ventured into uncharted territory.
						</p>
						<a
							href="/"
							class="btn btn-primary"
							>Return To Home</a
						>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
