<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="/css/main.css" />
		<title>About</title>
	</head>
	<body>
		<%- include('partials/navbar', {page: '/about'})%>
		<br />
		<div class="container mx-auto">
			<div
				class="hero min-h-full rounded-none sm:rounded-lg"
				style="background-image: url('/images/aboutHero.jpg')">
				<div
					class="hero-overlay bg-opacity-70 rounded-none sm:rounded-lg"></div>
				<div class="hero-content z-auto text-center text-neutral-content">
					<div class="max-w-md">
						<h1 class="mb-5 text-5xl font-bold">About Me</h1>
						<p class="mb-5">The developer, designer, and student.</p>
					</div>
				</div>
			</div>
			<br />
			<div class="grid grid-cols-1 md:grid-cols-2">
				<div class="mx-auto w-10/12 h-1/2 md:w-full">
					<img
						class="rounded-lg"
						src="/images/toronto.jpg"
						alt="toronto" />
				</div>
				<div
					class="flex flex-col align-middle justify-center text-center my-5 px-4 md:px-8 md:my-0 md:text-left">
					<p class="font-semibold">
						Hi, my name is Arjun. I am a 19 year old student at Seneca College
						in Toronto, ON.
					</p>
					<br />
					<p>
						I am currently studying computer programming, and plan to do my
						bachelors and masters in the following years. I am a huge gearhead,
						I love to work on cars, motorcycles, or anything with moving parts.
						I am always researching new things and keep up to date on
						technology. I also enjoy doing combat sports and working out. I am
						very keen on experimenting with cloud technology and back end
						development. I love to improve my skills and learn from other
						people.
					</p>
				</div>
			</div>
		</div>
		<br />
	</body>
</html>
