<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="/css/main.css" />
		<title>Brickable</title>
	</head>
	<body>
		<%- include('partials/navbar', {page: '/'})%>
		<br />
		<!--Hero-->
		<div class="container mx-auto">
			<div
				class="hero min-h-full rounded-none sm:rounded-lg"
				style="background-image: url('/images/herobg.jpg')">
				<div
					class="hero-overlay bg-opacity-60 rounded-none sm:rounded-lg"></div>
				<div class="hero-content z-auto text-center text-neutral-content">
					<div class="max-w-md">
						<h1 class="mb-5 text-5xl font-bold">Greetings</h1>
						<p class="mb-5">
							Discovering, Collecting, and Preserving LEGO History On Brick at a
							Time
						</p>
						<a
							href="/lego/sets"
							class="btn btn-primary"
							>Get Started</a
						>
					</div>
				</div>
			</div>
			<!--Grid For Cards-->
			<div
				class="mx-auto grid grid-cols-1 gap-4 mt-5 md:grid-cols-2 lg:grid-cols-3 p-3">
				<div class="card bg-base-100 shadow-xl">
					<figure>
						<img
							src="https://cdn.rebrickable.com/media/sets/4000010-1.jpg"
							alt="LEGO House" />
					</figure>
					<div class="card-body">
						<h2 class="card-title">LEGO House</h2>
						<p>
							Available for purchase exclusively at various stores (LEGO and
							non-LEGO) in Billund, Denmark. Created partially in response to
							construction disruptions to normal business while LEGO House was
							being built.
						</p>
						<div class="card-actions justify-end">
							<a
								href="/lego/sets/4000010-1"
								class="btn btn-primary"
								>Buy Now</a
							>
						</div>
					</div>
				</div>
				<div class="card bg-base-100 shadow-xl">
					<figure>
						<img
							src="https://cdn.rebrickable.com/media/sets/4000012-1.jpg"
							alt="Piper Airplane" />
					</figure>
					<div class="card-body">
						<h2 class="card-title">Piper Airplane</h2>
						<p>
							Available exclusively as a gift for attendees of the LEGO Inside
							Tour during sessions in 2012. Production is believed to have been
							limited to 53 hand-numbered sets.
						</p>
						<div class="card-actions justify-end">
							<a
								href="/lego/sets/4000012-1"
								class="btn btn-primary"
								>Buy Now</a
							>
						</div>
					</div>
				</div>
				<div class="card bg-base-100 shadow-xl">
					<figure>
						<img
							src="https://cdn.rebrickable.com/media/sets/4000013-1.jpg"
							alt="A LEGO Christmas Tale" />
					</figure>
					<div class="card-body">
						<h2 class="card-title">A LEGO Christmas Tale</h2>
						<p>
							Presented to LEGO employees and business partners as Christmas
							gift
						</p>
						<div class="card-actions justify-end">
							<a
								href="/lego/sets/4000013-1"
								class="btn btn-primary"
								>Buy Now</a
							>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br />
	</body>
</html>
