<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="/css/main.css" />
		<title>Brickable</title>
	</head>
	<body>
		<div class="navbar bg-base-100 px-5 drop-shadow-lg">
			<div class="flex-1">
				<a
					href="/"
					class="btn btn-ghost normal-case text-xl"
					>Brickable</a
				>
			</div>
			<!--Mobile-->
			<div class="dropdown md:hidden">
				<button class="btn btn-square btn-ghost">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						class="inline-block w-5 h-5 stroke-current">
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M4 6h16M4 12h16M4 18h16"></path>
					</svg>
				</button>
				<ul class="menu menu-sm dropdown-content right-0 bg-base-100 w-52">
					<li><a href="/about">About</a></li>
					<li>
						<details>
							<summary>Theme</summary>
							<ul class="p-2 bg-base-100 right-0">
								<li class="mt-1">
									<a href="/lego/sets?theme=Space">Space</a>
								</li>
								<li class="mt-1">
									<a href="/lego/sets?theme=Friends">Friends</a>
								</li>
								<li class="mt-1">
									<a href="/lego/sets?theme=Hobby Sets">Hobby Sets</a>
								</li>
							</ul>
						</details>
					</li>
				</ul>
			</div>
			<!--Desktop-->
			<div class="hidden md:block md:px-2">
				<ul class="menu menu-horizontal px-1">
					<li><a href="/about">About</a></li>
					<li>
						<details>
							<summary>Theme</summary>
							<ul class="p-2 bg-base-100 right-0 w-52">
								<li><a href="/lego/sets?theme=Space">Space</a></li>
								<li><a href="/lego/sets?theme=Friends">Friends</a></li>
								<li><a href="/lego/sets?theme=Hobby Sets">Hobby Sets</a></li>
							</ul>
						</details>
					</li>
				</ul>
			</div>
		</div>
		<br />
		<!--Hero-->
		<div class="container mx-auto">
			<div
				class="hero min-h-full rounded-none sm:rounded-lg"
				style="background-image: url('/images/herobg.jpg')">
				<div
					class="hero-overlay bg-opacity-60 rounded-none sm:rounded-lg"></div>
				<div class="hero-content z-auto text-center text-neutral-content">
					<div class="max-w-md">
						<h1 class="mb-5 text-5xl font-bold">Greetings</h1>
						<p class="mb-5">
							Discovering, Collecting, and Preserving LEGO History On Brick at a
							Time
						</p>
						<a
							href="/lego/sets"
							class="btn btn-primary"
							>Get Started</a
						>
					</div>
				</div>
			</div>
			<!--Grid For Cards-->
			<div
				class="mx-auto grid grid-cols-1 gap-4 mt-5 md:grid-cols-2 lg:grid-cols-3">
				<div class="card bg-base-100 shadow-xl">
					<figure>
						<img
							src="https://cdn.rebrickable.com/media/sets/4000010-1.jpg"
							alt="LEGO House" />
					</figure>
					<div class="card-body">
						<h2 class="card-title">LEGO House</h2>
						<p>
							Available for purchase exclusively at various stores (LEGO and
							non-LEGO) in Billund, Denmark. Created partially in response to
							construction disruptions to normal business while LEGO House was
							being built.
						</p>
						<div class="card-actions justify-end">
							<a
								href="/lego/sets/4000010-1"
								class="btn btn-primary"
								>Buy Now</a
							>
						</div>
					</div>
				</div>
				<div class="card bg-base-100 shadow-xl">
					<figure>
						<img
							src="https://cdn.rebrickable.com/media/sets/4000012-1.jpg"
							alt="Piper Airplane" />
					</figure>
					<div class="card-body">
						<h2 class="card-title">Piper Airplane</h2>
						<p>
							Available exclusively as a gift for attendees of the LEGO Inside
							Tour during sessions in 2012. Production is believed to have been
							limited to 53 hand-numbered sets.
						</p>
						<div class="card-actions justify-end">
							<a
								href="/lego/sets/4000012-1"
								class="btn btn-primary"
								>Buy Now</a
							>
						</div>
					</div>
				</div>
				<div class="card bg-base-100 shadow-xl">
					<figure>
						<img
							src="https://cdn.rebrickable.com/media/sets/4000013-1.jpg"
							alt="A LEGO Christmas Tale" />
					</figure>
					<div class="card-body">
						<h2 class="card-title">A LEGO Christmas Tale</h2>
						<p>
							Presented to LEGO employees and business partners as Christmas
							gift
						</p>
						<div class="card-actions justify-end">
							<a
								href="/lego/sets/4000013-1"
								class="btn btn-primary"
								>Buy Now</a
							>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br />
	</body>
</html>
